@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(0 0 0 0);
}

.container {
  /* width: 320px; */
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}

a {
  outline-color: chartreuse;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--black-color);
}

.fixed {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 9999;
  /* z-index: 2; */
}

.sticky {
  position: sticky;
  background-color: #347e31;
  top: 90px;
  padding: 10px;
  z-index: 1;
}

/* #absolute {
  position: absolute;
  top: 44%;
  left: 5%;

  transform: rotate(-90deg);
  color: var(--black-color);
  font-weight: bold;
} */
.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  background: transparent;
  /* color: var(--while-color); */
  color: inherit;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1), color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sign-link:hover {
  background-color: var(--pretty-color);
  color: var(--while-color);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1), color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: var(--accent-font);
  font-size: 42px;
  line-height: 1.167;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.header .container {
  background: linear-gradient(90deg, white 155px, black 155px);
  color: var(--while-color);
  display: flex;
  padding-top: 28px;
}

.logo {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: 32px; */
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-left: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list li:not(:last-child) {
  margin-right: 40px;
}

.nav-list a:hover,
.nav-list a:focus,
.phone-link:hover,
.phone-link:focus,
.media-list a:hover,
.media-list a:focus {
  color: var(--pretty-color);
}

.hero {
  color: var(--while-color);
}

.hero .container {
  display: flex;
  padding-top: 200px;
  /* padding-left: 255px; */
  padding-bottom: 40px;
  background: linear-gradient(90deg, white 155px, black 155px);
}

.hero aside {
  transform: rotate(-90deg);
}

.hero .media-list {
  color: var(--black-color);
}

.hero-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-left: 40px;
}

.hero .pre-title {
  color: var(--grey-op);
}

.hero .title {
  font-size: 72px;
  line-height: 1.181;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero .text {
  color: var(--dark-grey);
}

.slider-buttons {
  display: flex;
  align-self: flex-end;
  margin-top: 142px;
}

.slider-buttons li:not(:last-child) {
  margin-right: 26px;
}

.slider-buttons button {
  color: var(--grey-op);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-op);
  width: 60px;
  text-align: left;
  padding-bottom: 8px;
}

.slider-buttons button:last-child {
  text-align: right;
}

.slider-buttons button:hover,
.slider-buttons button:focus {
  cursor: pointer;
  color: var(--while-color);
  border-bottom: 1px solid var(--while-color);
}

:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --black-color: #303030;
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --grey-op: rgba(157, 164, 189, 0.6);
  --grey-opacity: rgba(157, 164, 189, 0.4);
  --grey: #9da4bd;
  --dark-grey: #555555;
  --about-back: #111319;
  --contacts-back: #191c26;
  --grey-back: #f7f7f7;
}
/*# sourceMappingURL=main.css.map */