/* VARIABLES */

.hero-content .pseudo::before,
.price-section .pseudo::before {
    color: var(--grey-op);
}
.contacts-wrapper .pseudo {
    margin-bottom: 20px;
}

.contacts-wrapper .pseudo::before {
    color: var(--grey-opacity);
}

/* ПОЗИЦИОНИРОВАНИЕ */

/* ПОЗИЦИОНИРОВАНИЕ */

/* АНИМАШКИ */

/* АНИМАШКИ */

/* HEADER STYLES */

/* HEADER STYLES */

/* HERO section */

/* ABOUT section */

/* ABOUT section */

/* PRICE section */

/* PRICE section */

/* features-section */

/* features-section */

/* MASTERS section */

/* MASTERS section */

/* BARBA section */

/* BARBA section */

/* CONTACTS section */

/* ПСЕВДОЭЛЕМЕНТЫ С ИКОНКАМИ */

/* CONTACTS section */

/* FOOTER */

/* FOOTER */
