/* EXAMPLE */
/* .icon {
  fill: rgb(69, 207, 14);
  stroke: rgb(231, 70, 70);
  width: 20px;
  height: 20px;
}
.icon:hover {
  fill: rgb(202, 84, 84);
  stroke: rgb(57, 223, 41);
} */
/* EXAMPLE */

/* .test-inline {
  border: 1px solid red;
  height: 200px;
  padding: 30px;
  margin: 30px;
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  background-color: rgb(183, 192, 169);
  border-radius: 10%;
  border-top-left-radius: 10%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 40%;
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  letter-spacing: 2px;
} */

/* .test-block {
  border: 1px solid green;
  height: 200px;
  padding: 30px;
  margin: 30px;
  font-size: 2rem;
  font-size: 20%;
  letter-spacing: 1em;
} */

/* VARIABLES */
:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --black-color: #303030;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --grey-op: rgba(157, 164, 189, 0.6);
  --grey-opacity: rgba(157, 164, 189, 0.4);

  --grey: #9da4bd;
  --dark-grey: #555555;

  --about-back: #111319;
  --contacts-back: #191c26;
  --grey-back: #f7f7f7;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--black-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /*   top-bottom  & right-left   */
  padding: 12px 20px;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;

  /* top & right & bottom & left  */
  /* padding: 12px 20px 12px 20px; */
  /*    top & right-left & bottom */
  /* padding: 12px 20px 12px; */
  /* каждому отдельно! */
  /* padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px; */
}
.sign-link:hover {
  background-color: var(--pretty-color);
  color: var(--while-color);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pseudo {
  /* display: inline-block; */
  display: flex;
  align-items: center;
}
.pseudo::before {
  /* display: inline-block; */
  display: flex;
  content: '';
  width: 60px;
  /* height: 1px; */
  border: 1px solid;
  color: var(--black-color);
  margin-right: 20px;
}
.hero-content .pseudo::before,
.price-section .pseudo::before {
  color: var(--grey-op);
}
.contacts-wrapper .pseudo::before {
  color: var(--grey-opacity);
}

.media-list {
  display: flex;
}
.media-list li:not(:last-child) {
  margin-right: 40px;
}
.media-list.pseudo::before {
  margin-right: 40px;
}

.title {
  font-family: var(--accent-font);
  font-size: 42px;
  line-height: 1.167;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

/* HEADER STYLES */
.header {
  background: var(--black-color);
  color: var(--while-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  /* а вдруг я захочу, чтобы его вложенные списки встали в столбик */
  /* flex-direction: column; */

  /* а тут мы разрешили перенос детей на следующую строку,
 если они не поместились в этой */
  flex-direction: row;
  flex-wrap: wrap;

  /* Альтернатива  */
  flex-flow: row wrap;
}
.nav-list {
  display: flex;
  align-items: center;

  /* 1 вариант - через фикс ширину */
  /* width: 387px;
  justify-content: space-between;
  margin-left: 40px; */
}
/* 2 вариант - без фикс ширины */
.nav-list li {
  margin-left: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-list li:not(:last-child) {
  margin-right: 40px;
}
/* эффект наведения курсора мыши */
/* .navList a:hover {
  color: var(--pretty-color);
} */
/* эффект фокусировки, когда нажали и держим, TAB */
/* .navList a:focus {
  color: chartreuse;
} */
/* а теперь то же самое, только через перечисление селекторов */
.nav-list a:hover,
.nav-list a:focus,
.phone-link:hover,
.phone-link:focus,
.media-list a:hover,
.media-list a:focus {
  color: var(--pretty-color);
}

/* .navList a:active {
  color: aqua;
  font-size: 28px;
} */

/* HEADER STYLES */

/* HERO section */
.hero {
  background-color: var(--black-color);
  color: var(--while-color);
}
.hero .container {
  padding-top: 272px;
  padding-left: 215px;
  padding-bottom: 40px;
}

.hero .pre-title {
  color: var(--grey-op);
}
.hero .title {
  font-size: 72px;
  line-height: 1.181;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero .text {
  color: var(--dark-grey);
}
.slider-buttons {
  display: flex;
  align-self: flex-end;
}
.slider-buttons li:not(:last-child) {
  margin-right: 26px;
}
.slider-buttons button {
  color: var(--grey-op);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-op);
  width: 60px;
  text-align: left;
  padding-bottom: 8px;
}
.slider-buttons button:last-child {
  text-align: right;
}
.slider-buttons button:hover,
.slider-buttons button:focus {
  cursor: pointer;
  color: var(--while-color);
  border-bottom: 1px solid var(--while-color);
}

/* ABOUT section */
.about .container {
  padding-top: 137px;
  padding-bottom: 119px;
  display: flex;
}
.about-images-list {
  display: flex;
  margin-right: 64px;
}
.about-images-list li {
  width: 270px;
}
/* .about-images-list li:first-child{
  margin-right: 45px;
} */
.about-images-list li:not(:last-child) {
  margin-right: 30px;
}
.about .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about .description {
  font-size: 14px;
  line-height: 1.857;

  letter-spacing: 0.02em;

  color: var(--dark-grey);
  margin-top: 20px;
  margin-bottom: 40px;
}
/* ABOUT section */

/* PRICE section */
.price-section {
  background-color: var(--black-color);
  color: var(--while-color);
}
.price-section .container {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
}
.price-section .pre-title {
  color: var(--grey-op);
}
.price-section .title {
  margin-top: 20px;
  margin-bottom: 44px;
}
.price-section .sign-link {
  margin-top: 50px;
  align-self: center;
}
.tables-wrapper {
  display: flex;
  justify-content: space-between;
}
/* PRICE section */

/* features-section */
.features-section .container {
  padding-top: 121px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
}

.features-section .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}
.features-list li {
  width: 170px;
  height: 133px;
  display: flex;
  flex-flow: column;
  padding: 20px 24px;
  background: #f1dcdc;
}
.features-list li:nth-child(1),
.features-list li:nth-child(3) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.features-list li:nth-child(2),
.features-list li:nth-child(4) {
  margin-top: 30px;
}
.features-content {
  width: 560px;
}

/* .features-list li:nth-child(2n +1){
  background-color: aqua;
}
.features-list li:nth-child(2n){
  background-color: rgb(58, 185, 58);
} */

.features-list sup {
  color: var(--pretty-color);
}
.score {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
}
.score-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  text-align: center;
}
/* features-section */

/* MASTERS section */
.masters .container {
  padding-top: 130px;
  padding-bottom: 60px;
  background-color: var(--grey-back);
}
.masters .title {
  margin-top: 20px;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  /* 1 */
  justify-content: space-between;
  flex-flow: row wrap;
  /* 2 */
  /* margin-right: -30px; */
}
.masters-list li:not(:nth-last-child(-n + 2)) {
  /* margin-bottom: 30px; */
  /* flex-basis: calc((100% - 30px) / 3); */
}
.masters-list-item {
  padding-bottom: 30px;
  border: 1px solid;
  /* width: 370px; */
  text-align: center;
}
.masters-list-item img {
  width: 100%;
  height: auto;
  display: block;
}
.masters-list-item h3 {
  margin-top: 30px;
  margin-bottom: 8px;
}
.icons-list {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;

  justify-content: center;
}
.icons-list li:not(:last-child) {
  margin-right: 10px;
}
.icons-list li {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-list .icon {
  width: 20px;
  height: 20px;
}
.icons-list .icon:hover {
  fill: var(--pretty-color);
}

/* MASTERS section */

/* BARBA section */
.barba .container {
  padding-top: 100px;
  padding-bottom: 62px;
}
.barba-list {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
/* BARBA section */

/* CONTACTS section */
.contacts-section {
  background-color: var(--black-color);
  color: var(--while-color);
}
.contacts-section .container {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 130px;
}
.form-wrapper,
.contacts-wrapper {
  flex-basis: calc((100% - 40px) / 2);
}
.contacts-section .sign-link {
  padding: 12px 38px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
.contacts-section .sign-link:hover,
.contacts-section .sign-link:focus {
  background-color: var(--pretty-color);
}
.address-list p {
  display: inline-block;
}

/* ПСЕВДОЭЛЕМЕНТЫ С ИКОНКАМИ */
.address-list .map::before,
.address-list .phone::before,
.address-list .mail::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.address-list .map::before {
  background-image: url('../images/icons/map-pin.svg');
}
.address-list .phone::before {
  background-image: url('../images/icons/phone.svg');
}
.address-list .mail::before {
  background-image: url('../images/icons/mail.svg');
}
/* ПСЕВДОЭЛЕМЕНТЫ С ИКОНКАМИ */

/* CONTACTS section */

/* FOOTER */
.footer .container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-back);
  margin-top: 68px;
}

/* FOOTER */
