/* VARIABLES */
:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

ul {
  /* убрали маркеры у списка */
  list-style: none;
}

a {
  /* наследуй цвет шрифта от родителя */
  color: inherit;
  /* убрали нижнее подчеркивание */
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /*   top-bottom  & right-left   */
  padding: 12px 20px;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;

  /* top & right & bottom & left  */
  /* padding: 12px 20px 12px 20px; */
  /*    top & right-left & bottom */
  /* padding: 12px 20px 12px; */
  /* каждому отдельно! */
  /* padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px; */
}
.sign-link:hover {
  background-color: var(--pretty-color);
}
/* HEADER STYLES */
.header {
  background: black;
  color: var(--while-color);
}
/* эффект наведения курсора мыши */
/* .navList a:hover {
  color: var(--pretty-color);
} */
/* эффект фокусировки, когда нажали и держим, TAB */
/* .navList a:focus {
  color: chartreuse;
} */
/* а теперь то же самое, только через перечисление селекторов */
.navList a:hover,
.navList a:focus,
.mediaList a:hover,
.mediaList a:focus {
  color: var(--pretty-color);
}

/* .navList a:active {
  color: aqua;
  font-size: 28px;
} */

/* HEADER STYLES */
