/* VARIABLES */
:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --black-color: #303030;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --grey-op: rgba(157, 164, 189, 0.6);
  --grey-opacity: rgba(157, 164, 189, 0.4);

  --grey: #9da4bd;
  --dark-grey: #555555;

  --about-back: #111319;
  --contacts-back: #191c26;
  --grey-back: #f7f7f7;
}
a {
  outline-color: chartreuse;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--black-color);
}

.container {
  /* width: 320px; */
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}
/* @media screen and(width:768px ) {
  .container {
    width: 768px;
  }
}
@media screen and(width:1280px ) {
  .container {
    width: 1280px;
  }
} */

.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  background: transparent;
  /* color: var(--while-color); */
  color: inherit;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sign-link:hover {
  background-color: var(--pretty-color);
  color: var(--while-color);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pseudo {
  display: flex;
  align-items: center;
}
.pseudo::before {
  display: flex;
  content: '';
  width: 60px;
  border: 1px solid;
  background: var(--black-color);
  margin-right: 20px;
}
.media-list {
  display: flex;
  align-items: center;
}

.media-list li:not(:last-child) {
  margin-right: 40px;
}
.media-list.pseudo::before {
  margin-right: 40px;
}
.hero-content .pseudo::before,
.price-section .pseudo::before {
  color: var(--grey-op);
}
.contacts-wrapper .pseudo {
  margin-bottom: 20px;
}

.contacts-wrapper .pseudo::before {
  color: var(--grey-opacity);
}

.title {
  font-family: var(--accent-font);
  font-size: 42px;
  line-height: 1.167;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}
/* ПОЗИЦИОНИРОВАНИЕ */
.fixed {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 9999;
  /* z-index: 2; */
}

.sticky {
  position: sticky;
  background-color: rgb(52, 126, 49);
  top: 90px;
  padding: 10px;
  z-index: 1;
}

/* #absolute {
  position: absolute;
  top: 44%;
  left: 5%;

  transform: rotate(-90deg);
  color: var(--black-color);
  font-weight: bold;
} */
/* ПОЗИЦИОНИРОВАНИЕ */

.aside {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

/* АНИМАШКИ */
@keyframes anime1 {
  from {
    background-color: #fff;
  }
  to {
    background-color: black;
  }
}
.anime {
  height: 200px;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* АНИМАШКИ */

/* ФОНЫ */
.header {
  background-position: center;
  background: linear-gradient(90deg, white 50%, black 50%);
}
.hero {
  background: linear-gradient(90deg, white 50%, black 50%);
}
.contacts-section {
  background: linear-gradient(
    90deg,
    rgba(25, 28, 38, 1) 50%,
    rgba(25, 28, 38, 0.9) 50%
  );
}
.masters,
.footer {
  background-color: var(--grey-back);
}
/* ФОНЫ */

/* HEADER STYLES */
.header .container {
  background: linear-gradient(90deg, white 155px, black 155px);

  color: var(--while-color);
  display: flex;
  padding-top: 28px;
}
.logo {
  display: block;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: 32px; */
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-left: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-list li:not(:last-child) {
  margin-right: 40px;
}

.nav-list a:hover,
.nav-list a:focus,
.phone-link:hover,
.phone-link:focus,
.media-list a:hover,
.media-list a:focus {
  color: var(--pretty-color);
}

/* HEADER STYLES */

/* HERO section */
.hero {
  color: var(--while-color);
}
.hero .container {
  display: flex;
  padding-top: 200px;
  /* padding-left: 255px; */
  padding-bottom: 40px;
  background: linear-gradient(90deg, white 155px, black 155px);
}

.hero aside {
  transform: rotate(-90deg);
}

.hero .media-list {
  color: var(--black-color);
}

.hero-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-left: 40px;
}
.hero .pre-title {
  color: var(--grey-op);
}
.hero .title {
  font-size: 72px;
  line-height: 1.181;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero .text {
  color: var(--dark-grey);
}
.slider-buttons {
  display: flex;
  align-self: flex-end;
  margin-top: 142px;
}
.slider-buttons li:not(:last-child) {
  margin-right: 26px;
}
.slider-buttons button {
  color: var(--grey-op);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-op);
  width: 60px;
  text-align: left;
  padding-bottom: 8px;
}
.slider-buttons button:last-child {
  text-align: right;
}
.slider-buttons button:hover,
.slider-buttons button:focus {
  cursor: pointer;
  color: var(--while-color);
  border-bottom: 1px solid var(--while-color);
}

/* ABOUT section */
.about .container {
  padding-top: 137px;
  padding-bottom: 119px;
  display: flex;
}
.about-images-list {
  display: flex;
  margin-right: 64px;
}
.about-images-list li {
  width: 270px;
}
.about-images-list li:hover {
  transform: perspective(300px);
}

.about-images-list li:not(:last-child) {
  margin-right: 30px;
}
.about .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about .description {
  font-size: 14px;
  line-height: 1.857;

  letter-spacing: 0.02em;

  color: var(--dark-grey);
  margin-top: 20px;
  margin-bottom: 40px;
}
/* ABOUT section */

/* PRICE section */
@keyframes rainbow {
  0% {
    background-color: rgba(250, 17, 17, 0.466);
  }
  20% {
    background-color: rgba(226, 144, 11, 0.541);
  }
  40% {
    background-color: rgba(221, 245, 8, 0.472);
  }
  60% {
    background-color: rgba(41, 245, 0, 0.507);
  }
  80% {
    background-color: rgba(6, 154, 240, 0.527);
  }
  90% {
    background-color: rgba(26, 13, 144, 0.459);
  }
  100% {
    background-color: rgba(66, 6, 90, 0.459);
  }
}

.price-section {
  color: var(--while-color);
  /* background-color: var(--black-color); */

  /* animation-name: rainbow;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */

  animation: rainbow 3000ms linear infinite;

  /* animation: rainbow 3000ms linear 1; */
  /* animation-fill-mode: forwards; */
  /* animation-fill-mode: backwards; */
  /* animation-fill-mode: both; */
}
.price-section:hover {
  animation-play-state: paused;
}
.price-section .container {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
}
.price-section .pre-title {
  color: var(--grey-op);
}
.price-section .title {
  margin-top: 20px;
  margin-bottom: 44px;
}
.price-section .sign-link {
  margin-top: 50px;
  align-self: center;
}
.tables-wrapper {
  display: flex;
  justify-content: space-between;
}
/* PRICE section */

/* features-section */
.features-section .container {
  padding-top: 121px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
}

.features-section .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
  transform: perspective(50px);
}
.features-list li {
  width: 170px;
  height: 133px;
  display: flex;
  flex-flow: column;
  padding: 20px 24px;
  background: #f1dcdc;
}
.features-list li:hover,
.features-list li:focus {
  /* transition: transform 500ms ease; */
}
.features-list li:nth-child(1):hover,
.features-list li:nth-child(3):hover {
  transform: skewX(10deg);
}
.features-list li:nth-child(2):hover,
.features-list li:nth-child(4):hover {
  transform: skewY(20deg);
}

.features-list li:nth-child(1),
.features-list li:nth-child(3) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.features-list li:nth-child(2),
.features-list li:nth-child(4) {
  margin-top: 30px;
}
.features-content {
  width: 560px;
}

.features-list sup {
  color: var(--pretty-color);
}
.score {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
}
.score-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  text-align: center;
}
/* features-section */

/* MASTERS section */
.masters .container {
  padding-top: 130px;
  padding-bottom: 60px;
  background-color: var(--grey-back);
}
.masters .title {
  margin-top: 20px;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;

  justify-content: space-between;
  flex-flow: row wrap;
}
/* .masters-list li:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
  flex-basis: calc((100% - 30px) / 3);
} */
.masters-list-item {
  /* border: 1px solid; */
  /* width: 370px; */
  text-align: center;
}
.masters-list-item:hover,
.masters-list-item:focus {
  box-shadow: 10px 0 20px 10px black;
  transform: rotate(10deg);
}
.masters-list-item:nth-child(2n + 1):hover,
.masters-list-item:nth-child(2n + 1):focus {
  transform: scale(1.1);
}

.masters-list-item img {
  width: 100%;
  height: auto;
  display: block;
}
.master-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.masters-list-item h3 {
  margin-bottom: 8px;
}
.icons-list {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;

  justify-content: center;
}
.icons-list li:not(:last-child) {
  margin-right: 10px;
}
.icons-list li {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-list .icon {
  width: 20px;
  height: 20px;
}
.icons-list .icon:hover {
  fill: var(--pretty-color);
}

/* MASTERS section */

/* BARBA section */
.barba .container {
  padding-top: 100px;
  padding-bottom: 62px;
}
.barba-list {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.barba-list li {
  width: 250px;
  position: relative;
  overflow: hidden;
}
@keyframes back {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(100%);
  }
}
.hover-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(17, 0, 255, 0.431);
  top: 0;
  transform: scale(1);
  opacity: 0;
}
.barba-list li:nth-child(1):hover .hover-wrapper {
  display: block;
  /* transform: translate(0); */
  /* transition: transform 2000ms ease; */
  opacity: 1;
  animation: back 2s linear infinite normal;
}
.barba-list li:nth-child(2):hover .hover-wrapper {
  display: block;
  /* transform: translate(0); */
  /* transition: transform 2000ms ease-in; */
  opacity: 1;
  animation: back 2s linear infinite reverse;
}
.barba-list li:nth-child(3):hover .hover-wrapper {
  display: block;
  /* transform: translate(0); */
  /* transition: transform 2000ms ease-in-out; */
  opacity: 1;
  animation: back 2s linear infinite alternate;
}
.barba-list li:nth-child(4):hover .hover-wrapper {
  display: block;
  /* transform: translate(0); */
  /* transition: transform 2000ms ease-out; */
  opacity: 1;
  animation: back 2s linear infinite alternate-reverse;
}
.barba-list li:hover {
  border: 10px solid yellowgreen;
}
/* BARBA section */

/* CONTACTS section */
.contacts-section {
  color: var(--while-color);
}
.contacts-section .container {
  background: linear-gradient(
      90deg,
      rgba(25, 28, 38, 1) 656px,
      rgba(25, 28, 38, 0.9) 625px
    ),
    url(../images/contacts/back-img.jpg);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
}
/* .form-wrapper,
.contacts-wrapper {
  flex-basis: calc((100% - 40px) / 2);
} */
.form-wrapper .title {
  margin-bottom: 44px;
}
.form-wrapper {
  display: block;
  margin-right: 140px;
}
.form-wrapper input[type='text'] {
  width: 270px;
  margin-right: 30px;
}
.form-wrapper input[type='tel'] {
  width: 260px;
}
.form-wrapper textarea {
  width: 560px;
  margin-top: 44px;
  margin-bottom: 44px;
  padding-bottom: 60px;
  resize: none;
}
.form-wrapper input {
  padding-bottom: 8px;
}
form {
  width: 560px;
  display: flex;
  flex-flow: row wrap;
}
.form-wrapper input,
.form-wrapper textarea {
  display: inline-block;
  background: transparent;
  color: var(--grey-opacity);
  font-size: 11px;
  line-height: 1.364;
  border: none;
  border-bottom: 1px solid;
}
.form-wrapper input::placeholder,
.form-wrapper textarea::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-opacity);
}
.form-wrapper input:hover,
.form-wrapper textarea:hover {
  border-color: var(--while-color);
}
.form-wrapper input:hover::placeholder,
.form-wrapper textarea:hover::placeholder,
.form-wrapper input:focus::placeholder,
.form-wrapper textarea:focus::placeholder {
  color: var(--while-color);
}
.contacts-wrapper {
  width: 625px;
}
.contacts-section .sign-link {
  padding: 12px 38px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;

  display: block;
  margin-right: auto;
}
.contacts-section .sign-link:hover,
.contacts-section .sign-link:focus {
  background-color: var(--pretty-color);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.address-list {
  margin-top: 40px;
  margin-bottom: 70px;
}
.address-list li:not(:last-child) {
  margin-bottom: 20px;
}
.address-list p,
.address-list a {
  display: flex;
  align-items: center;
}
.mail {
  text-decoration: underline;
}
.contacts-wrapper .text {
  color: var(--grey);
}
/* ПСЕВДОЭЛЕМЕНТЫ С ИКОНКАМИ */
.address-list .map::before,
.address-list .phone::before,
.address-list .mail::before {
  content: '';
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.address-list .map::before {
  background-image: url('../images/icons/map-pin.svg');
}
.address-list .phone::before {
  background-image: url('../images/icons/phone.svg');
}
.address-list .mail::before {
  background-image: url('../images/icons/mail.svg');
}
/* ПСЕВДОЭЛЕМЕНТЫ С ИКОНКАМИ */

/* CONTACTS section */

/* FOOTER */
.footer .container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-back);
  margin-top: 68px;
}

/* FOOTER */
