@keyframes rainbow {
    0% {
        background-color: rgba(250, 17, 17, 0.466);
    }
    20% {
        background-color: rgba(226, 144, 11, 0.541);
    }
    40% {
        background-color: rgba(221, 245, 8, 0.472);
    }
    60% {
        background-color: rgba(41, 245, 0, 0.507);
    }
    80% {
        background-color: rgba(6, 154, 240, 0.527);
    }
    90% {
        background-color: rgba(26, 13, 144, 0.459);
    }
    100% {
        background-color: rgba(66, 6, 90, 0.459);
    }
}

.price-section {
    color: var(--while-color);
    /* background-color: var(--black-color); */

    /* animation-name: rainbow;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */

    animation: rainbow 3000ms linear infinite;

    /* animation: rainbow 3000ms linear 1; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */
}
.price-section:hover {
    animation-play-state: paused;
}
.price-section .container {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
}
.price-section .pre-title {
    color: var(--grey-op);
}
.price-section .title {
    margin-top: 20px;
    margin-bottom: 44px;
}
.price-section .sign-link {
    margin-top: 50px;
    align-self: center;
}
.tables-wrapper {
    display: flex;
    justify-content: space-between;
}