:root {
    --pretty-color: #ff6c00;
    --while-color: #ffffff;
    --black-color: #303030;
    --main-font: "Open Sans", sans-serif;
    --accent-font: "Raleway", sans-serif;
    --grey-op: rgba(157, 164, 189, 0.6);
    --grey-opacity: rgba(157, 164, 189, 0.4);

    --grey: #9da4bd;
    --dark-grey: #555555;

    --about-back: #111319;
    --contacts-back: #191c26;
    --grey-back: #f7f7f7;
}